<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Beers Store</a>
    <ul class="right hide-on-med-and-down">
      <li> <%= link_to('Cervejas', beers_path) %> </li>
      <li> <%= link_to('Usuários', users_path) %> </li>
      <li> <%= link_to('Fornecedores', providers_path) %> </li>
    </ul>
  </div>
</nav>